header {
    background-color: white;
}



main {
    background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

