html, body {
    overflow-x: hidden;
}

/*Nav Background*/
.header-background {
    background-image: url(images/philippineflag.png);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
    border-bottom: solid black 3px;
}


/*Background for Main*/
main {
    background-image: url(images/woodbackground2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Dish Image*/
#sisigplate {
    border: solid black 3px;
    
}

/*H1 Title*/
h1 {
    font-family: cursive;
}

/*Align UL Items*/
#recipeinfo {
    text-align: center;
}

/*Recipe Ingredient UL*/
.ingredientlist ul, h3 {
        text-align: left;
        width: 40%;
        position: relative;
        left: 30%; 
}



/*Recipe Instructions*/
.instructions {
    left: 40px;
    top: 20px;
}

/* Recipe Info*/
.recipestart {
    bottom: 5px;
}

/*Recipe Video*/
.recipevideo {
    text-align: center;
}

/*Sisig Origin Section*/
.origin {
    top: 20px;
    
}

/*Origin H2 Font*/
.origin h2 {
    font-family: 'Kaushan Script', cursive;
}

/* Ingredient, Instruction, and Nutrition Font*/
.recipe {
    font-family: 'Acme', sans-serif;
}

.origin p {
    padding: 10px;
}

/*H1 Title Positioning*/
h1 {
    padding-left: 320px;
}